# fly.toml app configuration file generated for thoughtful-ai-support-agent on 2026-02-16T20:44:16Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'thoughtful-ai-support-agent'
primary_region = 'ewr'

[build]
  dockerfile = 'Dockerfile'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory = 256
